{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card col-4 m-3">
    <div class="card-header">
      Восстановление пароля
    </div>
    <div class="card-body">
      
      <!-- Проверяем, правильная ли ссылка -->
      {% if validlink %}
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Поменять пароль" %}
        </form>
      {% else %}
        <!-- Если ссылка сломалась или устарела, показываем этот текст -->
        <p class="text-danger">Ссылка для восстановления пароля недействительна. Возможно, она уже была использована или устарела.</p>
        <a href="{% url 'password_reset' %}" class="btn btn-primary">Запросить новую ссылку</a>
      {% endif %}

    </div>
  </div>
{% endblock %}
